* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #ff6363;
}

.date, .message, .footer {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.heart img {
    width: 150px;
    margin: 20px 0;
}

img {
    width: 300px;
    height: 150px;
    margin: 20px 0;
    box-shadow: #ff4040 5px 5px 5px 5px;
}

button {
    background-color: #ff6363;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4040;
}

.hidden {
    display: none;
}

#surprise-message {
    font-size: 1.5rem;
    color: #ff6363;
    margin-top: 20px;
}
.letter-content {
    text-align: left;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.letter-content p {
    margin-bottom: 15px;
}

.letter-link, .back-link {
    display: inline-block;
    margin-top: 30px;
    color: #ff6363;
    text-decoration: none;
    font-size: 1.2rem;
}

.letter-link:hover, .back-link:hover {
    color: #ff4040;
}
